{% extends '::simreg.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block body -%}
    <h1>Anto edit</h1>

    <ul class="list-inline pull-right">
        <li>
            <a href="{{ path('anto') }}"> Back to the lis</a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>

    {{ form(edit_form) }}

{% endblock %}
