{% extends '::simreg.html.twig' %}

{% block body -%}
    <h1>Anto list</h1>

    <ul class="list-inline pull-right">
        <li>
            <a href="{{ path('anto_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
                
     <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="DataTables_Table_0">
       <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Data</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('anto_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.data }}</td>
                <td>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('anto_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('anto_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
    {% endblock %}
