{% extends '::simreg.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body -%}
    <h1>Anto creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('anto') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
