{% extends '::simreg.html.twig' %}

{% block body -%}
    <h1>Anto</h1>

    
    <ul class="list-inline pull-right">
    <li>
        <a href="{{ path('anto') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('anto_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>


    <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="DataTables_Table_0">
         <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ entity.data }}</td>
            </tr>
        </tbody>
    </table>

        
{% endblock %}
