{% extends '::simreg.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block body -%}
    <h1>AppUpload edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('appupload') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
