{% trans_default_domain "messages" %}
{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{title}}</h2>
        </div>
        <div class="col-lg-8 pull-right">
            <div class="pull-right action_btns_vertical_center">
                <a data-toggle="modal" href="#newArtist" class="btn btn-primary btn-ms" data-target="#newPartner">New Partner</a>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content">
    <div class="row dynamic_form_container">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="DataTables_Table_0">
                        <thead>
                        <tr>
                            <th style="width:1%; padding:8px 15px !important;">Id</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th style="width:1%; padding:8px 15px !important;">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in partners %}
                            <tr>
                                <td style="width:1%; padding:8px 15px !important;">{{ row.id }}</td>
                                <td>{{ row.name }}</td>
                                <td>{{ row.status }}</td>
                                <td style="width:1%; padding:8px 15px !important;"><a href="{{ path('registration_info', { 'id': row.id }) }}">View</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="newPartner" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Partner</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}