<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">

<style>
    body{
        background: #DADADA;
    }
</style>
<div class="row">

    <br />
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Pending Registrations</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ reg_data.pending }}</h1>
                <small>Registrations awaiting all information to be sent</small>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Approved Registrations</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ reg_data.approved }}</h1>
                <small>Registrations Approved</small>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Sent Registrations</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ reg_data.sent}}</h1>
                <small>Registrations sent to the operator successfully</small>
            </div>
        </div>
    </div>


    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Declined Registrations</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ reg_data.declined}}</h1>
                <small>Declined registrations by the operator</small>
            </div>
        </div>
    </div>
</div>