{% extends '::simreg.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block body -%}
    <h1>Faq edit</h1>

    <ul class="record_actions list-inline pull-right">
        <li>
            <a href="{{ path('admin/agents') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>

    {{ form(edit_form) }}



    <div class="row">
            <div class="ibox float-e-margins">

                <div class="ibox-content">

                    <br /><h3>Agent Devices</h3>


                    <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="DataTables_Table_0">
                        <thead>
                            <tr>
                                <th style="width:1%; padding:8px 15px !important;">Id</th>
                                <th>Created On</th>
                                <th>Imei</th>
                                <th>AccessToken</th>
                                <th>Confirmation Token</th>
                                <th style="width:1%; text-align: right; padding:8px 15px !important;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in devices %}
                                <tr>
                                    <td style="width:1%; padding:8px 15px !important;">{{ row.id }}</td>
                                    <td>{{ row.createdOn|date('Y-m-d') }}</td>
                                    <td>{{ row.imei }}</td>
                                    <td>{{ row.accessToken }}</td>
                                    <td>{{ row.user }}</td>
                                    <td style="width:1%; padding:8px 15px !important;">
                                        <a class="btn btn-default btn-xs" href="{{ path('agent_details', { 'id': row.id }) }}">Deactivate</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
        </div>
    </div>

{% endblock %}
