{% extends '::index.html.twig' %}

{% block body -%}

    <div class="wrapper wrapper-content">

        <div class="row" style="">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="col-md-3" style="margin:0; padding:0; width: 60px; float: right;">
                    <button type="submit" id="filter_button" class="btn medium bg-blue" style="height:32px;">
                        <span class="button-content"><i class="fa fa-search"></i> Filter</span>
                    </button>
                </div>

                <div class="col-md-9" style="float:right; ">
                    <div class="" style="overflow: auto">
                        <form>
                            <div id="reportrange" class="pull-right" style="z-index: 1004; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                <span id="reports_search"></span> <b class="caret"></b>
                            </div>
                            <input name="dashboard_range" id="dashboard_range" hidden />
                            <input name="dashboard_filter" id="dashboard_range" value="12" hidden />

                    </div>
                </div>

                <div class="clearfix"></div>
                </form>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="row" style="text-align: center; border-bottom:1px solid #A3A3A3; padding-bottom: 6px; margin-bottom:12px;"></div>
        <div class="clearfix"></div>
        <!-- **************************************************************************************** -->

        <div class="row">
            <div class="col-lg-12">
                <!--<h5>User Role is:{{ akuku }}</h5>-->
            </div>

            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Total Registrations</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ ccount.reg_total }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Pending Registrations</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ ccount.reg_total }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Received Registrations</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ ccount.reg_total }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Declined Registrations</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ ccount.reg_total }}</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Registrations Graph Sumamry for day | <strong>{{ date_today }}</strong></h5>
                        <div class="pull-right">

                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-9" style="max-width: 810px !important;">
                                <div class="flot-chart">
                                    <div style="padding: 0px; position: relative;">
                                        <div class="over_ly graph_div">
                                            <img src="{{ asset('assets/img/loader-light.gif') }}" />
                                        </div>
                                        <canvas id="lineChart" height="100" style="max-height: 800px !important;"></canvas>    
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3" >

                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <h5>Temporarily Activated [ TREG ]</h5>
                                            </div>
                                            <div class="ibox-content">
                                                <h1 class="no-margins">{{ ccount.reg_total }}</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <h5>Fully Activated [ FREG ]</h5>
                                            </div>
                                            <div class="ibox-content">
                                                <h1 class="no-margins">{{ ccount.reg_total }}</h1>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12" style=" min-height: 200px;">

                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Messages</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content ibox-heading">
                                <h3><i class="fa fa-user-plus"></i> Registration Summary</h3>
                                <small><i class="fa fa-tim"></i> Registrations Done Per Day Summary</small>
                            </div>
                            <div class="ibox-content" style="min-height:300px;">
                                <div class="over_ly table_latest_trends">
                                    <img src="{{ asset('assets/img/loader-light.gif') }}" />
                                </div>
                                <table id="latest_table_trends" class="table">
                                    <thead>
                                        <tr>
                                            <th style="width:25%;">Date</th>
                                            <th>Total Registrations</th>
                                            <th>Pending Registrations</th>
                                            <th>Received Registrations</th>
                                            <th>Declined Registrations</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="clearfix"></div>

            </div>

            <div class="col-lg-6">

                <div class="row">
                    <div class="col-lg-12" style=" min-height: 200px;">

                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Top Registering Agents</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content" style="">
                                <div class="over_ly table_agent_cnt">
                                    <img src="{{ asset('assets/img/loader-light.gif') }}" />
                                </div>

                                <div><!-- style="height: 390px; overflow-y: scroll;" -->

                                    <table id="agent_count_table" class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th style="text-align:left;">Agent Name</th>
                                                <th>Count</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot></tfoot>
                                    </table>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>



                <div class="row">
                    <div class="col-lg-12" style=" min-height: 200px;">

                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Top Registering Super Agents</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content" style="">
                                <div class="over_ly table_agent_cnt">
                                    <img src="{{ asset('assets/img/loader-light.gif') }}" />
                                </div>

                                <div><!-- style="height: 390px; overflow-y: scroll;" -->

                                    <table id="agent_count_table" class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th style="text-align:left;">Agent Name</th>
                                                <th>Count</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot></tfoot>
                                    </table>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>
    </div>

    <style>
        .over_ly img{
            margin: 0 auto;
            display: block;
        }
    </style>
    <script src="{{ asset('assets/js/plugins/chartJs/Chart.min.js') }}"></script>

    <script type="text/javascript">
        $('#filter_button').click(function () {
            //alert($('#reports_search').text());
            var dates_dates = $('#reports_search').text();
            var dates_array = dates_dates.split(' - ');

            var dateStart = $.datepicker.formatDate('yy-mm-dd', new Date(dates_array[0]));
            var dateEnd = $.datepicker.formatDate('yy-mm-dd', new Date(dates_array[1]));
            //alert(dateStart + " | " + dateEnd);

            //$(".over_ly.graph_div").show();
            $(".over_ly.table_agent_cnt").show();
            $(".over_ly.table_day_cnt").show();
            $(".over_ly.table_latest_trends").show();

            $("#agent_count_table tfoot tr").remove();
            $("#agent_count_table tbody tr").remove();
            $("#latest_table_trends tbody tr").remove();

            iterateJsonperLatestTrends(dateStart,dateEnd);
            //iterateJsonperDayTrend(dateStart,1); //Stipulated as not required
            iterateJsonTopAgents(dateStart,dateEnd);
        });
    </script>

    <script>
        
        $(document).ready(function (){
            iterateJsonperLatestTrends(1,1);
            //iterateJsonperDayTrend(1,1); //Stipulated as not required
            iterateJsonTopAgents(1,1);
        });
        
        
        
        jQuery.ajax({
            url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/hourly_summary/1/1", //This URL is for Json file
            type: "GET",
            dataType: "json",
            success: function (data) {
                load_hourly_graph(data);
            },
            error: function () {
//Do alert is error
            }
        });


        function load_hourly_graph(data) {
            //888 ----- -- -- -- -- -- - --  - -- 

            console.log("Data");

            console.log(data);
            text = [];
            for (index = 0; index < data.length; index++) {
                text.push(parseInt(data[index]));
            }

            $(".over_ly.graph_div").hide();
            var lineChartData = {
                labels: ["00", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24"],
                datasets: [
                    {
                        label: "Example dataset",
                        fillColor: "rgba(254, 145, 13, 0.68)",
                        strokeColor: "rgba(254, 145, 13, 0.78)",
                        pointColor: "rgba(254, 145, 13, 0.68)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(254, 145, 13, 0.48)",
                        data: text
                    }
                ]

            }

            $(document).ready(function () {
                new Chart(document.getElementById("lineChart").getContext("2d")).Line(lineChartData, {
                    responsive: true,
                    tooltipFillColor: "rgba(51, 51, 51, 0.55)"
                });
            });
            //888 ----- -- -- -- -- -- - --  - --        
        }



    </script>




    <script type="text/javascript">

        //LATEST DAYS TREND
        function iterateJsonperLatestTrends(start, end) {

            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/trendlatest_summary/"+start+"/"+end, //This URL is for Json file
                type: "GET",
                dataType: "json",
                success: function (data) {
                    console.log("3333" + data.toString());
                    var num3 = 1;
                    var append_data3 = "";
                    $(".over_ly.table_latest_trends").hide();
                    $.each(data, function (index, val3) {

                        append_data = "<tr style='height:1px;'><td style='padding:2px;'>" + val3.date + "</td><td class='ant_td'>" + val3.total + "</td><td class='ant_td'>" + val3.approved + "</td><td class='ant_td'>" + val3.pending + "</td><td class='ant_td'>" + val3.declined + "</td></tr>";
                        $(append_data).appendTo($("#latest_table_trends tbody"));
                    });
                },
                error: function () {
                    //Do alert is error
                }
            });

        }


        //TREND PER DAY
        function iterateJsonperDayTrend(start, end) {

            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/regbyday_summary/"+start+"/"+end, //This URL is for Json file
                type: "GET",
                dataType: "json",
                success: function (data) {
                    console.log("1111" + data.toString());
                    var num1 = 1;
                    var total1 = 0;
                    var append_data1 = "";
                    $(".over_ly.table_day_cnt").hide();
                    $.each(data, function (index, val1) {
                        num1 = num1 + 1;
                        total1 = parseInt(total1) + parseInt(val1.day_count);

                        append_data1 = "<tr style='height:1px;'><td style='padding:6px; text-align:left;'>" + num1 + "</td><td class='ant_td' style='padding:2px; text-align:left;'><a 'class'='iframe' 'style'='color:blue; text-decoration:underline;'>" + val1.day_name + "</a></td><td class='ant_td' style='padding:2px; text-align:left;'>" + val1.day_count + "</td></tr>";
                        $(append_data1).appendTo($("#table_per_day_count tbody"));
                    });

                    footer_append_data1 = "<tr style='height:1px; text-align:left;'><th></th><th class='ant_td' style='padding:6px; text-align:left;'>TOTAL COUNTs</th><th class='ant_td' style='padding:2px; text-align:left;'>" + total1 + "</th></tr>";
                    $(footer_append_data1).appendTo($("#table_per_day_count tfoot"));

                },
                error: function () {
                    //Do alert is error
                }
            });

        }



        //TOP AGENTS
        function iterateJsonTopAgents(start, end) {

            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/top_agents/"+start+"/"+end, //This URL is for Json file
                type: "GET",
                dataType: "json",
                success: function (data) {
                    console.log(data.toString());
                    var num = 1;
                    var total = 0;
                    var append_data = "";
                    $(".over_ly.table_agent_cnt").hide();
                    $.each(data, function (index, val) {
                        num = num + 1;
                        total = parseInt(total) + parseInt(val.count);

                        append_data = "<tr style='height:1px;'><td style='padding:2px;'>" + num + "</td><td style='text-align:left;' class='ant_td'>" + val.name + "</td><td class='ant_td'>" + val.count + "</td></tr>";
                        $(append_data).appendTo($("#agent_count_table tbody"));
                    });

                    footer_append_data = "<tr style='height:1px;'><th></th><th style='text-align:left;' class='ant_td'>TOTAL COUNTs</th><th class='ant_td'>" + total + "</th></tr>";
                    $(footer_append_data).appendTo($("#agent_count_table tfoot"));
                },
                error: function () {
                    //Do alert is error
                }
            });


        }
    </script>



    <!-- daterangepicker -->
    <script type="text/javascript" src="{{ asset('assets/js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/datepicker/daterangepicker.js') }}"></script>
    <!-- datepicker -->
    <script type="text/javascript">
        $(document).ready(function () {

            var cb = function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");
            }

            var optionSet1 = {
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: '12/31/2016',
                dateLimit: {
                    days: 60
                },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'left',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Clear',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            };
            $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#reportrange').daterangepicker(optionSet1, cb);
            $('#reportrange').on('show.daterangepicker', function () {
                console.log("show event fired");
            });
            $('#reportrange').on('hide.daterangepicker', function () {
                console.log("hide event fired");
            });
            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
            });
            $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
                console.log("cancel event fired");
            });
            $('#options1').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
            });
            $('#options2').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
            });
            $('#destroy').click(function () {
                $('#reportrange').data('daterangepicker').remove();
            });
        });
    </script>

{% endblock %}
