{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{title}}</h2>
        </div>
        <div class="col-lg-8 pull-right">
            <div class="pull-right action_btns_vertical_center">
                <div class="dropdown">
                    <a data-toggle="modal" href="#newArtist" class="btn btn-primary btn-ms" data-target="#changePassword">Change Password</a>
                    <a href="#newArtist" class="btn btn-primary btn-ms disabled" >Save Changes</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row dynamic_form_container">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">
                        <div class="col-lg-8">
                            <form role="form" lpformnum="1" _lpchecked="1">
                                <div class="form-group">
                                    <label>First Name:</label>
                                    <input type="text" class="form-control" id="firstName">
                                </div>
                                <div class="form-group">
                                    <label>Middle Name:</label>
                                    <input type="text" class="form-control" id="middleName">
                                </div>
                                <div class="form-group">
                                    <label>Last Name:</label>
                                    <input type="text" class="form-control" id="lastName">
                                </div>
                                <div class="form-group">
                                    <label>Email:</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                                <div class="form-group">
                                    <label>Mobile Number:</label>
                                    <input type="tel" class="form-control" id="mobile">
                                </div>
                                <div class="form-group">
                                    <label>Organization Name:</label>
                                    <input type="text" class="form-control" id="organization">
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="changePassword" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Change Password</h4>
                    </div>
                    <form role="form" id="changePasswordForm" lpformnum="1" _lpchecked="1">
                        <div class="modal-body row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Username:</label>
                                    <input type="text" class="form-control" name="username" required >
                                </div>
                                <div class="form-group">
                                    <label>New Password:</label>
                                    <input type="password" class="form-control" id="password" required >
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password:</label>
                                    <input type="password" class="form-control" id="confirmPassword" required >
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="changePassword(event);">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="{{ asset('assets/js/core/agents.js') }}"></script>

    {% endblock %}

