{% extends '::simreg.html.twig' %}

{% block body -%}
    <h1>{{ title }}</h1>

    <form name="aimgroup_restapibundle_role" method="post" action="{{ path('admin') }}newUserDeptaction">
        <div id="aimgroup_restapibundle_role"><div>                
                <label for="aimgroup_restapibundle_role_name" class="required">Role Department Name</label>
                <input type="text" id="aimgroup_restapibundle_role_name" name="aimgroup_restapibundle_role[name]" required="required" maxlength="30" class="form-control">
            </div>
            <div>                
                <label for="aimgroup_restapibundle_role_role" class="required">Role Department Name</label>
                <input type="text" id="aimgroup_restapibundle_role_role" name="aimgroup_restapibundle_role[role]" required="required" maxlength="20" class="form-control">
            </div>
            <textarea hidden="hidden" id="aimgroup_restapibundle_role_dept_perms" name="aimgroup_restapibundle_role[dept_perms]" required="required">0</textarea>
            <br />
            <div class="form-group">
                <button type="submit" id="aimgroup_restapibundle_role_submit" name="aimgroup_restapibundle_role[submit]"class="btn-default btn">Create</button>
            </div>
            <input type="hidden" id="aimgroup_restapibundle_role__token" name="aimgroup_restapibundle_role[_token]" value="hw-cf7CZKDRn_lBNu6VB-EUFWWSwGIKTRrjYZQQ90GA">
        </div>
    </form>



{% endblock %}
