{% extends '::simreg.html.twig' %}

{% block body -%}
    <h1>{{title_descr}}</h1>


    <div class="row">

        <div class="col-md-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne"  data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <h4 class="panel-title" style="text-align: center;font-size: 16px;font-weight: 300;color: #747779;">
                            <i class="fa fa-search"></i> Search Fields</h4>
                        <span style="width: 30px; float: right; margin-top: -20px;">
                            <i class="fa fa-arrow-down"></i>
                        </span>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">

                            <div class="col-md-2"></div>
                            <div class="col-md-8">

                                <form action="{{ path('admin') }}registrations_filter" method="post" name="dashboardbundle_admin">
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <label>Customer MSISDN:</label>
                                            <input name="customer_msisdn" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>First Name:</label>
                                                <input name="first_name" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Last Name:</label>
                                                <input name="last_name" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>ID Type:</label>
                                                <input name="id_type_name" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>ID Number:</label>
                                                <input name="id_number" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Registrar FirstName:</label>
                                                <input name="agent_firstname" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Registrar LastName:</label>
                                                <input name="agent_lastname" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Registrar Phone:</label>
                                                <input name="agent_phone" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Registration Type:</label>
                                                <select name="reg_type" class="form-control" id="resolution">
                                                    <option>New Registration</option>
                                                    <option>Re-Registration</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Registration State:</label>
                                                <select name="reg_state" class="form-control" id="resolution">
                                                    <option>Pending Received Information</option>
                                                    <option>Pending Registration Process</option>
                                                    <option>Temporary Activation</option>
                                                    <option>Full Activation</option>
                                                    <option>Declined</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="form-group">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Territory:</label>
                                                <select name="territory" class="form-control" id="resolution">
                                                    <option>North Zone</option>
                                                    <option>West Zone</option>
                                                    <option>East Zone</option>
                                                    <option>Great Lakes</option>
                                                    <option>Dar es Salaam</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Region:</label>
                                                <select name="region" class="form-control" id="resolution">
                                                    <option>Arusha</option>
                                                    <option>Mwanza</option>
                                                    <option>Kilimanjaro</option>
                                                    <option>Tanga</option>
                                                    <option>Dar es Salaam</option>
                                                    <option>Morogoro</option>
                                                    <option>Simiyu</option>
                                                    <option>Kigoma</option>
                                                    <option>Shinyanga</option>
                                                    <option>Kagera</option>
                                                    <option>Mara</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>From Date:</label>
                                                <input name="from_date" type="date" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>To Date:</label>
                                                <input name="to_date" type="date" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="hr-line-dashed"></div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-4 col-sm-offset-5">
                                            <button class="btn btn-primary" type="submit">Search Registrations</button>
                                        </div>
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-2"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="DataTables_Table_0">
        <thead>
            <tr>

                <th>Msisdn</th>
                <th>Customer Name</th>
                <th>ID Type</th>
                <th>ID Number</th>
                <th>Registrar MSISDN</th>
                <th>Registrar Name</th>
                <th>Region</th>
                <th>Territory</th>
                <th>Date</th>
                <th>Gender</th>
                <th style="width:1%; padding:8px 15px !important;"></th>
            </tr>
        </thead>
        <tbody>
            {% for row in registrations %}
                <tr>

                    <td>{{ row.msisdn }}</td>
                    <td>{{ row.firstName }} {{ row.lastName }}</td>
                    <td>{{ row.identificationType }}</td>
                    <td>{{ row.identification }}</td>
                    <td>{{ row.getOwner().getUsername() }}</td>
                    <td>{{ row.getOwner().getFirstName() }} {{ row.getOwner().getLastName() }}</td>
                    <td>{{ row.region }}</td>
                    <td>{{ row.territory }}</td>
                    <td>{{ row.createdDate|date('Y-m-d') }}</td>
                    <td>{{ row.gender }}</td>
                    <td style="width:1%; padding:8px 15px !important;"><a href="{{ path('registration_info', { 'id': row.id }) }}">View</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
