{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{title}}</h2>
        </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row dynamic_form_container">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">
                        <div class="col-lg-8">
                            
                            
                            
                            <div class="alert alert-success alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                Reports: {{ message }}
                            </div>
                            
                            
                            <form action="/app_dev.php/admin/reportspost" method="post" name="dashboardbundle_admin">
                                <div class="form-group">
                                    <label>Report For:</label>
                                    <select name="report_type" class="form-control">
                                        <option value="agent_registration">Agent Registration Report</option>
                                        <option value="id_documents_eport">ID Documents Used Report</option>
                                        <option value="registration_region_report">Registration per Region Report</option>
                                        <option value="registrations_gender_report">Registrations by Gender Report</option>
                                        <option value="active_inactive_agents">Active & Inactive Agents</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-6 no-padding">
                                        <div class="form-group">
                                            <label>From Date:</label>
                                            <input name="from_date" type="date" class="form-control" id="loginTrials">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>To Date:</label>
                                            <input name="to_date" type="date" class="form-control" id="loginTrials" >
                                        </div>
                                    </div>
                                    <p class="help-block"><strong>Note:</strong> If date is not specified, report generates for the last 24 hours.</p>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-6 no-padding">
                                        <div class="form-group">
                                            <label>Territory:</label>
                                            <select name="territory" class="form-control" id="resolution">
                                                <option>North Zone</option>
                                                <option>West Zone</option>
                                                <option>East Zone</option>
                                                <option>Great Lakes</option>
                                                <option>Dar es Salaam</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Region:</label>
                                            <select name="region" class="form-control" id="resolution">
                                                <option>Arusha</option>
                                                <option>Mwanza</option>
                                                <option>Kilimanjaro</option>
                                                <option>Tanga</option>
                                                <option>Dar es Salaam</option>
                                                <option>Morogoro</option>
                                                <option>Simiyu</option>
                                                <option>Kigoma</option>
                                                <option>Shinyanga</option>
                                                <option>Kagera</option>
                                                <option>Mara</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input name="agent_msisdn" type="text" class="form-control" id="loginTrials" placeholder="By Agent MSISDN/Account Number (optional)" >
                                </div>
                                <!--<div class="form-group">
                                    <input name="customer_msisdn" type="text" class="form-control" id="loginTrials" placeholder="By Customer MSISDN (optional)" >
                                </div>-->

                                <!--<div class="form-group">
                                    <label>Send To:</label>
                                    <input name="email_send_to" type="text" class="form-control" id="loginTrials" placeholder="recepient emails comma separated (optional)" >
                                    <p class="help-block"><strong>Note:</strong> A copy of this report will be sent to your email address.</p>
                                </div>
                                <div class="form-group">
                                    <label>Message:</label>
                                    <textarea name="email_message" class="form-control" id="loginTrials" placeholder="Please find attached a copy of report from EKYC." ></textarea>
                                </div>-->


                                <div class="hr-line-dashed"></div>
                                <div class="row form-group">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <a class="btn btn-white">Cancel</a>
                                        <button class="btn btn-primary" type="submit">Generate Report</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="referenceInfo" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Reference</h4>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

