{% extends '::simreg.html.twig' %}

{% block body -%}
    <h1>{{ title }}</h1>

    <ul class="pull-right">
        <li>
            <a href="{{ path('admin') }}newUserDept">
                Create New User Dept
            </a>
        </li>
    </ul>

    <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="DataTables_Table_0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Role Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in user_roles %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.name }}</td>
                    <td style="width:150px;">
                        <ul class="list-inline">
                            <li>
                                <a href="">show</a>
                            </li>
                            <li>
                                <a href="{{ path('edit_role_department', { 'id': entity.id }) }}">Edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
