{% extends '::simreg.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block body -%}
    <h1>User edit</h1>

    <ul class="record_actions list-inline pull-right">
        <li>
            <a href="">
                Back to the list
            </a>
        </li>
    </ul>

    {{ form(edit_form) }}

{% endblock %}
