{% extends '::simreg.html.twig' %}

{% block body -%}
    <h1>Idtype list</h1>

    <ul class="pull-right">
        <li>
            <a href="{{ path('idtype_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>

    <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="DataTables_Table_0">
        <thead>
            <tr>
                <th style="width:4%;">Id</th>
                <th>Name</th>
                <th style="width:14%;">UseCount</th>
                <th style="width:14%;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('idtype_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.useCount }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('idtype_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('idtype_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        

{% endblock %}
