{% extends '::index.html.twig' %}

{% block body -%}

                
    <style>#page-wrapper{min-height: 1000px;}</style>
    <div class="row">
        <div class="col-lg-6">
            <span class="f32"><span id="flag"></span></span>
            <div id="container" data-highcharts-chart="0"></div>

            <br />


            <div class="subheader">
                <h2>Gender Report</h2>
                <small><em>-</em></small>
            </div>
            <div class="over_ly table_gender_trends" style="height: 410px;border: 1px solid #E0E0E0;border-radius: 10px;">
                <img src="{{ asset('assets/img/loader-light.gif') }}" style="margin:20% 40%;" />
            </div>
            <div id="pieContainer"></div>

            <br />



        </div>
        <div class="col-lg-6">
            <div id="info">


                <span class="f32"><span id="flag"></span></span>
                <h2></h2>
                <div class="subheader">xClick regions to view montly registrations</div>

                <div class="over_ly graph_country-chart" style="height: 360px;border: 1px solid #E0E0E0;border-radius: 10px;">
                    <img src="{{ asset('assets/img/loader-light.gif') }}" style="margin:20% 40%;" />
                </div>

                <div id="country-chart"></div>




                <!--<span class="f32"><span id="flag"></span></span>
                <h2></h2>
                <div class="subheader">Click regions to view montly registrations</div>

                <h2>Hourly data.</h2>-->


                <div class="over_ly graph_hourly-chart" style="height: 410px;border: 1px solid #E0E0E0;border-radius: 10px;">
                    <img src="{{ asset('assets/img/loader-light.gif') }}" style="margin:20% 40%;" />
                </div>
                <div id="container_hourly"></div>


                <span class="f32"><span id="flag"></span></span>
                <!--<h2>Registration Status</h2>
                <div class="subheader">
                    <h4>Compare registrations</h4>
                    <small><em>-</em></small>
                </div>

                <div class="over_ly graph_daterange-chart" style="height: 360px;border: 1px solid #E0E0E0;border-radius: 10px;">
                    <img src="{{ asset('assets/img/loader-light.gif') }}" style="margin:20% 40%;" />
                </div>
                <div id="barChatContainer"></div>-->








                <!--<span class="f32"><span id="flag"></span></span>
                <h2>Gender</h2>
                <div class="subheader">
                    <h4>Registrations by Gender</h4>
                    <small><em>-</em></small>
                </div>
                <div id="pieContainer" style="height:230px;"></div>-->


            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('assets/js/highcharts/highcharts.js') }}"></script>
    <script src="{{ asset('assets/js/highmaps/map.js') }}"></script>
    <script src="{{ asset('assets/js/highmaps/tz-all.js') }}"></script>

    <script type="text/javascript">
        $(function () {

            var csv = null,
                    countries = {},
                    mapChart,
                    countryChart,
                    barChart,
                    pieChart,
                    numRegex = /^[0-9\.]+$/,
                    quoteRegex = /\"/g,
                    categories;

            var data_approved = [];
            var data_declined = [];
            var data_pending = [];

            csv = $.get('{{ asset('assets/js/highcharts/testData_temp2.csv') }}');
            csv.error(function (xhr, ajaxOptions, thrownError) {
                alert("Ajax error: " + xhr.status + " - " + thrownError);
            });
            csv.done(function (csva) {
                csv = csva;

                // Parse the CSV Data
                /*Highcharts.data({
                 csv: data,
                 switchRowsAndColumns: true,
                 parsed: function () {
                 console.log(this.columns);
                 }
                 });*/

                // Very simple and case-specific CSV string splitting
                function CSVtoArray(text) {
                    //return text.replace(/^"/, '').replace(/",$/, '').split('","');
                    return text.replace(/\\/g, '').split('","');
                }

                csv = csv.split(/\n/); //csv.responseText.split("\n"); /

                categories = CSVtoArray(csv[1]).slice(4);

                // Parse the CSV into arrays, one array each country
                $.each(csv.slice(2), function (j, line) {
                    var row = CSVtoArray(line),
                            data = row.slice(4);

                    $.each(data, function (i, val) {

                        val = val.replace(quoteRegex, '');
                        if (numRegex.test(val)) {
                            val = parseInt(val);
                        } else if (!val) {
                            val = null;
                        }
                        data[i] = val;
                    });
                    countries[row[1]] = {
                        name: row[0],
                        code3: row[1],
                        data: data
                    };
                });

                // For each country, use the latest value for current population
                var data = [];
                for (var code3 in countries) {
                    if (countries.hasOwnProperty(code3)) {
                        var value = null,
                                year,
                                itemData = countries[code3].data,
                                i = itemData.length;

                        while (i--) {
                            if (typeof itemData[i] === 'number') {
                                value = itemData[i];
                                year = categories[i];
                                break;
                            }
                        }
                        data.push({
                            name: countries[code3].name,
                            code3: code3,
                            value: value,
                            year: year
                        });
                    }
                }

                // Add lower case codes to the data set for inclusion in the tooltip.pointFormat
                //var mapData = Highcharts.geojson(Highcharts.maps['custom/world']);
                //$.each(mapData, function () {
                //    this.id = this.properties['hc-key']; // for Chart.get()
                //    this.flag = this.id.replace('UK', 'GB').toLowerCase();
                //});
            });



            var mapData = Highcharts.geojson(Highcharts.maps['countries/tz/tz-all']);
            $.each(mapData, function () {
                this.id = this.properties['hc-key']; // for Chart.get()
                this.flag = this.id.replace('UK', 'GB').toLowerCase();
            });



            Highcharts.wrap(Highcharts.Point.prototype, 'select', function (proceed) {

                proceed.apply(this, Array.prototype.slice.call(arguments, 1));

                var points = mapChart.getSelectedPoints();

                console.log("start");
                console.log(points);

                var text = [];
                for (index = 0; index < points.length; index++) {
                    text.push(points[index]['name']);
                }

                //LATEST DAYS TREND
                jQuery.ajax({
                    url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/graphreport_region/{{ start_date}}/{{ end_date }}/" + text.join(","), //This URL is for Json file
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        populate_first_country_chart(data);
                        populate_gender_graph_firstgraph(data);
                    },
                    error: function () {
                        //Do alert is error
                    }
                });

                //LATEST DAYS TREND

                jQuery.ajax({
                    url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/hour_graph/{{ start_date}}/{{ end_date }}/" + text.join(","), //This URL is for Json file
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        pupulate_hourgraph_firstgraph(data);
                        //get_hourlydata_objects(data);
                    },
                    error: function () {
                        //Do alert is error
                    }
                });

            });

            // Prepare demo data
            var data = [{'hc-key': 'tz-mw', value: 0},
                {'hc-key': 'tz-kr', value: {{ graph_data.kr }}, code3: 'KR'},
                {'hc-key': 'tz-pw', value: {{ graph_data.pw }}, code3: 'PW'},
                {'hc-key': 'tz-mo', value: {{ graph_data.mo}}, code3: 'MO'},
                {'hc-key': 'tz-nj', value: {{ graph_data.nj }}, code3: 'NJ'},
                {'hc-key': 'tz-zs', value: {{ graph_data.zn }}, code3: 'ZS'},
                {'hc-key': 'tz-zw', value: {{ graph_data.zn }}, code3: 'ZW'},
                {'hc-key': 'tz-km', value: {{ graph_data.km }}, code3: 'KM'},
                {'hc-key': 'tz-mt', value: {{ graph_data.mt }}, code3: 'MT'},
                {'hc-key': 'tz-rv', value: {{ graph_data.rv }}, code3: 'RV'},
                {'hc-key': 'tz-pn', value: {{ graph_data.pw }}, code3: 'PN'},
                {'hc-key': 'tz-ps', value: {{ graph_data.pw }}, code3: 'PS'},
                {'hc-key': 'tz-zn', value: {{ graph_data.zn }}, code3: 'ZN'},
                {'hc-key': 'tz-sd', value: {{ graph_data.sd }}, code3: 'SD'},
                {'hc-key': 'tz-sh', value: {{ graph_data.sh }}, code3: 'SH'},
                {'hc-key': 'tz-as', value: {{ graph_data.as }}, code3: 'AR'},
                {'hc-key': 'tz-my', value: {{ graph_data.my }}, code3: 'MY'},
                {'hc-key': 'tz-ma', value: {{ graph_data.ma }}, code3: 'MA'},
                {'hc-key': 'tz-si', value: {{ graph_data.si }}, code3: 'SI'},
                {'hc-key': 'tz-mb', value: {{ graph_data.mb }}, code3: 'MB'},
                {'hc-key': 'tz-rk', value: {{ graph_data.rk }}, code3: 'RK'},
                {'hc-key': 'tz-ds', value: {{ graph_data.ds }}, code3: 'DS'},
                {'hc-key': 'tz-do', value: {{ graph_data.do }}, code3: 'DO'},
                {'hc-key': 'tz-tb', value: {{ graph_data.tb }}, code3: 'TB'},
                {'hc-key': 'tz-li', value: {{ graph_data.li }}, code3: 'LI'},
                {'hc-key': 'tz-ge', value: {{ graph_data.ge }}, code3: 'GE'},
                {'hc-key': 'tz-mw', value: {{ graph_data.mw }}, code3: 'MW'},
                {'hc-key': 'tz-kl', value: {{ graph_data.kl }}, code3: 'KL'},
                {'hc-key': 'tz-tn', value: {{ graph_data.tn }}, code3: 'TN'},
                {'hc-key': 'tz-ka', value: {{ graph_data.ka }}, code3: 'KA'},
                {'hc-key': 'tz-ir', value: {{ graph_data.ir }}, code3: 'IR'}];


            // Initiate the chart
            mapChart = $('#container').highcharts('Map', {
                chart: {
                    backgroundColor: '#f3f3f4'
                },
                title: {
                    text: null
                },
                subtitle: {
                    text: null
                },
                mapNavigation: {
                    enabled: true,
                    buttonOptions: {
                        verticalAlign: 'bottom'
                    },
                    enableMouseWheelZoom: false
                },
                colorAxis: {
                    min: 0,
                    minColor: '#E2DCD6',
                    maxColor: '#E27B00'
                },
                series: [{
                        data: data,
                        mapData: Highcharts.maps['countries/tz/tz-all'],
                        joinBy: 'hc-key',
                        name: 'Registrations',
                        allowPointSelect: true,
                        states: {
                            hover: {
                                color: '#B1936F'
                            },
                            select: {
                                color: '#674C2C',
                                borderColor: 'black',
                                dashStyle: 'shortdot'
                            }
                        },
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}'
                        }
                    }],
                credits: {
                    enabled: false
                }
            }).highcharts();

            // Pre-select a country
            //mapChart.get('tz-ds').select();

        });
    </script>


    <script>
        /*
         * CALL AJAX GET DATA FOR COUNTRY REGISTRATION REPORT
         */
        $(document).ready(function () {

            //LATEST DAYS TREND
            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/graphreport_region/{{ start_date}}/{{ end_date }}/all_regions", //This URL is for Json file
                type: "GET",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    console.log("........................");
                    populate_first_country_chart(data);
                    populate_gender_graph_firstgraph(data);
                },
                error: function () {
                    //Do alert is error
                }
            });

        });



        /*
         * CALL AJAX GET DATA FOR AGE RANGE FIRTST
         */
        $(document).ready(function () {

            //LATEST DAYS TREND
            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/graphreport_region/{{ start_date}}/{{ end_date }}/all_regions", //This URL is for Json file
                type: "GET",
                dataType: "json",
                success: function (data) {
                    populate_agerange_firstgraph(data);
                },
                error: function () {
                    //Do alert is error
                }
            });

        });



        /*
         * CALL AJAX GET DATA FOR HOUR GRAPH FIRST
         */
        $(document).ready(function () {

            //LATEST DAYS TREND
            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/hour_graph/{{ start_date}}/{{ end_date }}/all_regions", //This URL is for Json file
                type: "GET",
                dataType: "json",
                success: function (data) {
                    pupulate_hourgraph_firstgraph(data);
                    //get_hourlydata_objects(data);
                },
                error: function () {
                    //Do alert is error
                }
            });

        });

    </script>


    <script type="text/javascript">

        function populate_first_country_chart(data3) {

            console.log("®®®®®®®®®®®®®");
            console.log(data3);
            console.log("®®®®®®®®®®®®®");

            $(".over_ly.graph_country-chart").hide();



            /*
             $.each(data3[0], function (key, value) {
             console.log("-------");
             console.log(value);
             
             });
             */
            //------ - -- - - --------- - -- - - --------- - -- - - ---

            $('#country-chart').highcharts({
                chart: {
                    type: 'line',
                    height: 360,
                    spacingLeft: 0,
                    backgroundColor: '#f3f3f4'
                },
                title: {
                    text: 'Total Registrations'
                },
                subtitle: {
                    text: "Total Registrations && Registrations by Gender"
                },
                xAxis: {
                    categories: get_month_key(data3),
                    startOnTick: false,
                    endOnTick: false,
                    minPadding: 0,
                    maxPadding: 0,
                    title: {text: null},
                    gridLineWidth: 1
                },
                labels: {
                    items: [{
                            html: 'Registrations by Gender',
                            style: {
                                left: '50px',
                                top: '18px',
                                color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                            }
                        }]
                },
                yAxis: {
                    title: {
                        text: 'Registrations Done'
                    },
                    labels: {
                        formatter: function () {
                            return this.value;
                        }
                    }
                },
                tooltip: {
                    pointFormat: ' {point.x}'
                },
                plotOptions: {
                    area: {
                        marker: {
                            enabled: false,
                            symbol: 'circle',
                            radius: 2,
                            states: {
                                hover: {
                                    enabled: true
                                }
                            }
                        }
                    }
                },
                series: get_regdata_objects(data3)
            });

            //------ - -- - - --------- - -- - - --------- - -- - - ---

        }

        function get_genderdata_objects(data3) {

            var uk = data3.gender;
            /*
             name: "Firefox",
             y: 10.38
             */
            return_data = [];
            $.each(data3.gender, function (key, value) {

                if (data3.ccount_elements === 1) {
                    var m = {name: "Male", y: value.male};
                    var f = {name: "FeMale", y: value.female};
                    return_data.push(m);
                    return_data.push(f);
                } else {
                    var antoo = [];
                    antoo.push(value.male);
                    antoo.push(value.female);
                    var arry = {name: key, data: antoo};
                    return_data.push(arry);
                }
            });
            return return_data;
        }

        function get_regdata_objects(data3) {

            return_data = [];
            $.each(data3.data, function (key, value) {

                var antoo = [];
                $.each(value, function (yearValue, countValue) {
                    antoo.push(countValue);
                });

                var v = {name: key, data: antoo}
                return_data.push(v);

            });

            console.log("....Argh ========== | ========");
            console.log(return_data);
            console.log("....Argh ========== | ========");

            return return_data;
        }

        function get_month_key(data3) {

            return_data = [];
            var cnt = 1;
            var antoo = [];
            
            $.each(data3.data, function (key, value) {

                if (cnt === 1) {
                    
                    $.each(value, function (yearValue, countValue) {
                        antoo.push(yearValue);
                    });
                }
                cnt++;
            });

            console.log("....Arghk ========== | ========");
            console.log(antoo);
            console.log("....Arghk ========== | ========");

            return antoo;
        }

        function get_hourlydata_objects(data3) {

            return_data = [];
            $.each(data3, function (key, value) {

                console.log("....HOUR ========== | ========");
                console.log(key);
                console.log(value);
                console.log("....HOUR /========== | ========");

                text = [];
                for (index = 0; index < value.length; index++) {
                    text.push(parseInt(value[index]));
                }

                console.log(text);

                var v = {name: key, data: text}
                return_data.push(v);

            });
            console.log(return_data);
            console.log("....xHOUR //========== | ========");
            return return_data;
        }

        function populate_agerange_firstgraph(data3) {

            $('.graph_daterange-chart').hide();

            $('#barChatContainer').highcharts({
                chart: {
                    type: 'column',
                    backgroundColor: '#f3f3f4',
                    height: 300,
                },
                title: {
                    text: "Registrations by Age Range"
                },
                subtitle: {
                    text: null
                },
                xAxis: {
                    categories: [
                        '0-10',
                        '11-20',
                        '21-30',
                        '31-40',
                        '41-50',
                        '51-60',
                        '61-70',
                        '71-'
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Registrations (count)'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                        name: 'Registrations',
                        data: [49, 71, 106, 129, 144, 176, 135, 148],
                        color: '#FE910D'
                    }],
                credits: {
                    enabled: false
                }
            });
        }


        function populate_gender_graph_firstgraph(data3) {

            $(".over_ly.table_gender_trends").hide();

            if (data3.ccount_elements === 1) {
                $('#pieContainer').highcharts({
                    chart: {
                        backgroundColor: '#f3f3f4',
                        type: 'pie'
                    },
                    title: {
                        text: 'Gender Registration Report'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                    series: [{
                            name: "Gender",
                            colorByPoint: true,
                            data: get_genderdata_objects(data3)
                        }]
                });
            } else {
                //multiple data draw colum
                $('#pieContainer').highcharts({
                    chart: {
                        backgroundColor: '#f3f3f4',
                        type: 'column'
                    },
                    title: {
                        text: 'Registrations Gender Report'
                    },
                    subtitle: {
                        text: 'Group by Gender '
                    },
                    xAxis: {
                        categories: ['Male', 'Female'],
                        crosshair: true
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Registrations'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                '<td style="padding:0"><b>{point.y } Registrations</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: get_genderdata_objects(data3)
                });
            }

        }



        function pupulate_hourgraph_firstgraph(data3) {

            $('.graph_hourly-chart').hide();

            //------ - -- - - --------- - -- - - --------- - -- - - ---


            $('#container_hourly').highcharts({
                title: {
                    text: 'Registration by Hour',
                    x: -20 //center
                },
                subtitle: {
                    text: 'S',
                    x: -20
                },
                chart: {
                    height: 300,
                    spacingLeft: 0,
                    backgroundColor: '#f3f3f4'
                },
                xAxis: {
                    categories: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23],
                    tickInterval: 3
                },
                yAxis: {
                    title: {
                        text: 'Hour'
                    },
                    plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                },
                tooltip: {
                    valueSuffix: ' .'
                },
                series: get_hourlydata_objects(data3)
            });


        }
    </script>




{% endblock %}