{% extends '::index.html.twig' %}

{% block body -%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 country_map_container">
                <span class="f32"><span id="flag"></span></span>
                <div id="container" data-highcharts-chart="0"></div>
            </div>
            <div class="col-lg-7">
                <div id="info">
                    <h2></h2>
                </div>
                <div class="col-lg-12 top_full_container">
                    <span class="f32"><span id="flag"></span></span>
                    <h4>Active Agents:</h4>
                    <div id="pieChatContainer"></div>
                </div>

            </div>
            <hr/>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('assets/js/highcharts/highcharts.js') }}"></script>
    <script src="{{ asset('assets/js/highcharts/highcharts-more.src.js') }}"></script>
    <!-- <script src="{{ asset('assets/js/highmaps/highmaps.js') }}"></script> -->
    <script src="{{ asset('assets/js/highmaps/map.js') }}"></script>
    <script src="{{ asset('assets/js/highmaps/data.js') }}"></script>
    <script src="{{ asset('assets/js/highmaps/tz-all.js') }}"></script>


    <script type="text/javascript">


        $(document).ready(function () {
            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/agentlocation_map/{{ start_date}}/{{ end_date }}/all_regions", //This URL is for Json file
                type: "GET",
                dataType: "json",
                success: function (data) {
                    //create_map_data(data);
                    draw_tanz_map(data);
                },
                error: function () {
                    //Do alert is error
                }
            });
            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/agentactiveinactive_map/{{ start_date}}/{{ end_date }}/all_regions", //This URL is for Json file
                type: "GET",
                dataType: "json",
                success: function (data) {
                    populate_gender_graph_firstgraph(data)
                    //get_activeinactive_objects(data);
                },
                error: function () {
                    //Do alert is error
                }
            });
        });
        function create_map_data(data) {

            return_data = [];
            $.each(data, function (key, value) {

                console.log(value);
                return_data.push(value);
            });
            return return_data;
        }

        function get_activeinactive_objects(data3) {
            return_data = [];
            $.each(data3.data, function (key, value) {


                if (data3.ccount_elements === 1) {
                    var m = {name: "Active", y: parseInt(value.active)};
                    var f = {name: "Inactive", y: parseInt(value.inactive)};
                    return_data.push(m);
                    return_data.push(f);
                } else {
                    var antoo = [];
                    antoo.push(parseInt(value.active));
                    antoo.push(parseInt(value.inactive));
                    var arry = {name: key, data: antoo};
                    return_data.push(arry);
                }

            });
            return return_data;
        }


        function draw_tanz_map(data) {
            var mapData = Highcharts.geojson(Highcharts.maps['countries/tz/tz-all']);
            Highcharts.wrap(Highcharts.Point.prototype, 'select', function (proceed) {

                proceed.apply(this, Array.prototype.slice.call(arguments, 1));
                var points = mapChart.getSelectedPoints();

                console.log("start");
                console.log(points);

                var text = [];
                for (index = 0; index < points.length; index++) {
                    text.push(points[index]['name']);
                }

                console.log("{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/agentactiveinactive_map/{{ start_date}}/{{ end_date }}/" + text.join(",")); 

                jQuery.ajax({
                    url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/agentactiveinactive_map/{{ start_date}}/{{ end_date }}/" + text.join(","), //This URL is for Json file
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        populate_gender_graph_firstgraph(data)
                        //get_activeinactive_objects(data);
                    },
                    error: function () {
                        //Do alert is error
                    }
                });



                if (points.length) {
                    var active = 0;
                    var random = 0;
                    var inactive = 0;
                    if (points.length === 1) {
                        $('#info h2').html('Region: ' + points[0].name);
                        $('#info .subheader').html('<h4>Monthly Registrations</h4><small><em>Shift + Click on map to compare regions</em></small>');
                        active = points[0].z;
                        random = Math.floor((Math.random()) * (active - 1)) + 1;
                        inactive = points[0].z - random;

                    } else {
                        $('#info #flag').attr('class', 'flag');
                        regions = 'Regions: ';
                        for (x = 0; x < points.length; x++) {
                            regions = regions + points[x].name + ' ';
                            active = active + points[x].z;
                            random = random + Math.floor((Math.random()) * (active - 1)) + 1;
                            inactive = inactive + points[x].z - random;
                        }

                        $('#info h2').html(regions);
                        $('#info .subheader').html('<h4>Comparing Regions</h4>');
                    }

                    var active = points[0].z;
                    var random = Math.floor((Math.random()) * (active - 1)) + 1;
                    var inactive = points[0].z - random;
                    // buld the pie char for active inactive
                }
            });
            mapChart = $('#container').highcharts('Map', {
                chart: {
                    backgroundColor: '#f3f3f4',
                    height: 500,
                    margin: [0, 0, 0, 0],
                    spacingTop: 0,
                    spacingBottom: 0,
                    spacingLeft: 0,
                    spacingRight: 0,
                },
                title: {
                    text: null
                },
                subtitle: {
                    text: null
                },
                legend: {
                    enabled: false
                },
                mapNavigation: {
                    enabled: true,
                    buttonOptions: {
                        verticalAlign: 'bottom'
                    },
                    enableMouseWheelZoom: false
                },
                series: [{
                        name: 'Countries',
                        mapData: mapData,
                        color: '#E0E0E0',
                        enableMouseTracking: false
                    }, {
                        type: 'mapbubble',
                        mapData: mapData,
                        name: 'Agents',
                        color: '#EA9A39',
                        joinBy: ['hc-a2', 'code'],
                        data: create_map_data(data),
                        allowPointSelect: true,
                        minSize: 4,
                        maxSize: '25%',
                        tooltip: {
                            pointFormat: '{point.code}: {point.z} '
                        }
                    }],
                credits: {
                    enabled: false
                }
            }).highcharts();
        }


        function populate_gender_graph_firstgraph(data3) {
            console.log(" *** * *** * **** 8* ** 88 8 8 ");
            console.log(JSON.stringify(get_activeinactive_objects(data3)));
            console.log(" *** * *** * **** 8* ** 88 8 8 ");
            $(".over_ly.table_gender_trends").hide();
            if (data3.ccount_elements === 1) {
                $('#pieChatContainer').highcharts({
                    chart: {
                        backgroundColor: '#f3f3f4',
                        type: 'pie'
                    },
                    title: {
                        text: 'Gender Registration Report'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                    series: [{
                            name: "Brands",
                            colorByPoint: true,
                            data: get_activeinactive_objects(data3)
                        }]
                });
            } else {
                //multiple data draw colum
                $('#pieChatContainer').highcharts({
                    chart: {
                        backgroundColor: '#f3f3f4',
                        type: 'column'
                    },
                    title: {
                        text: 'Registrations Gender Report'
                    },
                    subtitle: {
                        text: 'Group by Gender '
                    },
                    xAxis: {
                        categories: ['Active', 'Inactive'],
                        crosshair: true
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Registrations'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                '<td style="padding:0"><b>{point.y } Registrations</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: get_activeinactive_objects(data3)
                });
            }

        }
    </script>

{% endblock %}