{% extends '::simreg_actions.html.twig' %}



{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{title}}</h2>
        </div>
        <div class="col-lg-8 pull-right">
            <div class="pull-right action_btns_vertical_center">
                <a data-toggle="modal" href="#newArtist" class="btn btn-primary btn-ms" data-target="#addUserModal">New User</a>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">

                        <form role="form" class="form-inline">
                            <div class="form-group">
                                <label for="agent-msisdn" class="sr-only">MSISDN</label>
                                <input type="tel" placeholder="MSISDN" id="agent-msisdn" class="form-control" name="agent-msisdn">
                            </div>
                            <button class="btn btn-white" type="submit" id="LoadRecordsButton">Search</button>
                        </form>
                        <div id="ManagerTableContainer"></div>

                        <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="DataTables_Table_0">
                            <thead>
                                <tr>
                                    <th style="width:1%; padding:8px 15px !important;">Id</th>
                                    <th>MSISDN</th>
                                    <th>Firstname</th>
                                    <th>LastName</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Date Created</th>
                                    <th style="width:1%; padding:8px 15px !important;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in users %}
                                    <tr>
                                        <td style="width:1%; padding:8px 15px !important;">{{ row.id }}</td>
                                        <td>{{ row.mobileNumber }}</td>
                                        <td>{{ row.firstName }}</td>
                                        <td>{{ row.lastName }}</td>
                                        <td>{{ row.username }}</td>
                                        <td>{{ row.email }}</td>
                                        <td>{{ row.createdAt|date('Y-m-d') }}</td>
                                        <td style="width:1%; padding:8px 15px !important;">
                                            <a href="{{ path('user_edit', { 'id': row.id }) }}">edit</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div id="addUserModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add New User</h4>
                    </div>
                    <form role="form" lpformnum="1" _lpchecked="1" id="addUserModalForm">
                        <div class="modal-body row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="region">First Name</label>
                                    <input type="text" class="form-control" name="firstName" id="firstName" placeholder="enter first name" required >
                                </div>
                                <div class="form-group">
                                    <label for="region">Middle Name</label>
                                    <input type="text" class="form-control" name="middleName" id="middleName" placeholder="enter middle name (optional)" >
                                </div>
                                <div class="form-group">
                                    <label for="region">Last Name</label>
                                    <input type="text" class="form-control" name="lastName" id="lastName" placeholder="enter last name" required >
                                </div>
                                <div class="form-group">
                                    <label for="region">User Name</label>
                                    <input type="text" class="form-control" name="username" id="username" placeholder="enter username" required >
                                </div>
                                <div class="form-group">
                                    <label for="region">MSISDN</label>
                                    <input type="tel" class="form-control" name="msisdn" id="msisdn" placeholder="mobile number" required >
                                </div>
                                <div class="form-group">
                                    <label for="region">Email</label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="enter email address"  >
                                </div>

                                <div class="form-group">
                                    <label for="region">User Group</label>
                                    <select class="form-control" name="user_roles" multiple="multiple">
                                        {% for row in role_names %}
                                            <option value="{{ row.role_name }}">{{ row.role_name }}</option>
                                        {% endfor %}
                                    </select>
                                    
                                    
                                    
                                </div>
                                <input type="text" class="form-control" name="userType" hidden="hidden" id="userType" value="1" >
                                <div class="form-group">
                                    <label>Gender:</label>
                                    <select class="form-control" name="gender" id="resolution">
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="lastName" placeholder="enter organization name" required >
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="addUser(event);">Add Agent</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <script src="{{ asset('assets/js/core/agents.js') }}"></script>
    {% endblock %}