{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{ title }}</h2>
        </div>
        <div class="col-lg-8 pull-right">
            <div class="pull-right action_btns_vertical_center">
                <a href="#newArtist" class="btn btn-primary btn-ms" onclick="loadNewAgentForm(event)">New Agent</a>
                <a href="#publish" class="btn btn-primary btn-ms" id="btn-topic-select"
                   onclick="loadPublishMessageDialog(event)">Publish Message</a>

            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label for="agent-msisdn" class="sr-only">MSISDN</label>
                            <input type="tel" placeholder="MSISDN" id="agent-msisdn" class="form-control"
                                   name="agent-msisdn">
                        </div>
                        <button class="btn btn-white" type="submit" id="LoadRecordsButton">Search</button>
                    </form>

                    <div id="AgentTableContainer"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="addAgentModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Agent</h4>
                </div>
                <form role="form" lpformnum="1" _lpchecked="1" id="addAgentModalForm">
                    <div class="modal-body row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="text" class="form-control validate[required] text-input" id="firstName"
                                       name="firstName" placeholder="enter first name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control " id="middleName"
                                       name="middleName"
                                       placeholder="enter middle name (optional)">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control validate[required] text-input" id="lastName"
                                       name="lastName" placeholder="enter last name">
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control validate[required] text-input" id="msisdn"
                                       name="msisdn" maxlength="12" placeholder="assign mobile number">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control validate[custom[email]] text-input" id="email"
                                       name="email" placeholder="enter email address (optional)">
                            </div>
                            <div class="form-group">
                                <label for="dob">Date of Birth:</label>
                                <input type="text" class="form-control" id="datepicker" name="dob">
                            </div>

                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <select class="form-control" id="gender" name="gender">
                                    <option value="male">MALE</option>
                                    <option value="female">FEMALE</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="userType">User Type</label>
                                <select class="form-control" id="userType" name="userType"></select>
                            </div>

                            <div class="form-group">
                                <label for="region">Region</label>
                                <select class="form-control" id="region" name="region"
                                        onchange="getTerritories();"></select>
                            </div>
                            <div class="form-group">
                                <label for="territory">Territory</label>
                                <select class="form-control  validate[required]" id="territory"
                                        name="territory"></select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="agentcode" name="agentcode" placeholder="enter Agent Code (Optional)">
                            </div>

                            <div class="form-group">
                                <label for="territory">Agent Exclusivity</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="agent_exclusivity" value="1"
                                               name="agent_exclusivity"> Make agent eclusive. Exclusive agent can not
                                        add other MNOs
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="territory">Allow multiple devices</label>

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked="checked" name="multiple_devices"
                                               class="multiple_devices" onChange="multiple_devices_check()" value="">
                                        Allow multiple devices
                                    </label>
                                    <input type="number" min="1" class="form-control number_devices" id="number_devices"
                                           name="number_devices" placeholder="Number Of Devices" value="1"
                                           required="required">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="$('#addAgentModalForm').submit();">
                            Add Agent
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="publishMessageFormModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Publish Message</h4>
                </div>
                <div class="modal-body">
                    <form id="publishMessageFormModalForm">
                        <div class="form-group">
                            <label for="form-topic" class="control-label">Topic:</label>
                            <input type="text" class="form-control" id="form-msisdn" name="form-msisdn">
                        </div>

                        <div class="form-group">
                            <label for="message" class="control-label">Message:</label>
                            <textarea class="form-control" style="height:150px;"
                                      placeholder="Enter message to be sent" id="message" name="message"></textarea>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            onclick="publishMessage('{{ mqttMessageTopic }}',event);">Publish
                    </button>
                </div>
            </div>
        </div>
    </div>


    <script src="{{ asset('assets/js/core/device_configuration.js') }}"></script>
    <script src="{{ asset('assets/js/core/agents.js') }}"></script>
    <script>
        $(document).ready(function () {

            $("#datepicker").datepicker();
            /**
             * handler for agent form modal validation
             */
            jQuery("#addAgentModalForm").validationEngine('attach', {
                onValidationComplete: function (form, status) {
                    if (status) {
                        addAgent();
                    }
                }
            });
            /**
             * load forms
             */
            loadAgentsTables();
        });
    </script>
{% endblock %}