{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{title}}</h2>
        </div>
        <div class="col-lg-8 pull-right">
            <div class="pull-right action_btns_vertical_center">
                <a href="#newArtist" class="btn btn-primary btn-ms" onclick="saveImageConfiguration(event);" >Save Changes</a>
                <a href="#newArtist" class="btn btn-primary btn-ms" onclick="loadTopicSelector(event);" id="btn-topic-select" >Publish Configurations</a>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content">
    <div class="row dynamic_form_container">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <div class="col-lg-8">
                        <form role="form" lpformnum="1" _lpchecked="1" id="ImageConfigurationsForm">
                            <div class="form-group">
                                <label>Resolution</label>
                                <select class="form-control" id="resolution" name="resolution">
                                    <option value="480x234">480x234</option>
                                    <option value="640x200">640x200</option>
                                    <option value="720x348">720x348</option>
                                    <option value="960x540">960x540</option>
                                    <option value="1024x640">1024x640</option>
                                </select>
                                <p class="help-block"><strong>Note:</strong>The higher the resolution the bigger is the image. This may affect the rate of images posted to the server.</p>
                            </div>
                            <div class="form-group">
                                <label>Compression Factor</label>
                                <input type="number" class="form-control" id="compression_factor" value="70" name="compression_factor">
                                <p class="help-block">Percentage compression for images. 70% is optimal.</p>
                            </div>
                            <div class="form-group">
                                <label>Image Extension</label>
                                <select class="form-control" id="extension" name="extension">
                                    <option value="gif">gif</option>
                                    <option value="jpg">jpg</option>
                                    <option value="png" selected>png</option>
                                    <option value="tiff">tiff</option>
                                    <option value="jpeg">jpeg</option>
                                </select>
                                <p class="help-block">PNG is prefered.</p>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="referenceInfo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Reference</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="publishDyanmicFormModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Publish Form</h4>
                </div>
                <div class="modal-body">
                    <form id="publishDyanmicFormModalForm">
                        <div class="form-group">
                            <label for="form-topic" class="control-label">Topic:</label>
                            <input type="text" class="form-control" id="form-msisdn" name="form-msisdn">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            onclick="publishImageConfigurations(event);">Publish
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('assets/js/core/device_configuration.js') }}"></script>
    <script type="text/javascript">
        window.onload = function () {
            loadImageConfigurations();
        }
    </script>
{% endblock %}